# Server
PORT=3000

# 🗄️ Cloud SQL Database (Turso DB)
# หากปล่อยว่างไว้ ระบบจะใช้ SQLite บนคอมพิวเตอร์โลคอลอัตโนมัติ
# สมัครฟรีและดึงคีย์ได้ที่ https://turso.tech/
TURSO_DATABASE_URL=libsql://changdang-pos-leviathun.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Nzk5MDIwOTEsImlkIjoiMDE5ZTZhNmQtNzEwMS03MTJhLWE0OWUtZTg3ZTZhOTRjZTE0IiwicmlkIjoiYWViNTRiMjItYWY3MC00MWU3LTllNGUtZWMyZWM5M2VkMWZjIn0.K1Yh9-NkSmFoGQZpEkHPhC-_eN2Dqdyf6_BA2jAQlkDKprNxZy0LjjDXAjult6Fs58ckwFiHKSJkEVG2hBtICA

# PromptPay (หมายเลข PromptPay สำหรับ QR Code)
# ใส่เบอร์โทร (10 หลัก) หรือเลขบัตรประชาชน (13 หลัก)
PROMPTPAY_ID=

# Shop Info
SHOP_NAME=ร้านไก่ทอดช้างแดง
